<!DOCTYPE html>
<html>
  <head>
    <title>Download TikTok Videos Without Watermarks | Free MP4 Downloads</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Download your favorite TikTok videos without watermarks with our free MP4 downloader. No sign-up required. Get started now!">
    <meta property="og:title" content="Download TikTok Videos Without Watermarks | Free MP4 Downloads">
    <meta property="og:description" content="Download your favorite TikTok videos without watermarks with our free MP4 downloader. No sign-up required. Get started now!">
    <!-- <meta property="og:image" content="https://example.com/images/tiktok-download.png">
    <link rel="canonical" href="https://example.com/tiktok-downloader/"> -->

    <meta name="robots" content="index, follow">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="flex flex-col items-center py-10 max-w-[960px] m-auto">
      <h1 class="text-3xl text-center font-bold text-black-700 mb-4 px-4">TikTok Video Downloader</h1>
      <p class="mb-10">Download TikTok videos without watermarks</p>
      <%= yield %>
    </main>
  </body>
</html>
